<html>
<body>
  <script type='text/javascript' charset='utf-8'>
  var loc = document.location;
  with(window.parent) { 
    setTimeout(function() { 
      window.eval("SHEBA.Images.display_options({medium: '<%= @image.upload.url(:medium) %>', small: '<%= @image.upload.url(:small) %>', tiny: '<%= @image.upload.url(:thumb) %>', original: '<%= @image.upload.url(:original) %>'}, '<%= @image.caption %>', '<%= @image.attribution %>', '<%= @image.link %>')"); 
      loc.replace('about:blank'); 
    }, 1) 
  } 
  </script>
</body>
</html>